<div id="outercolor">
    <div id="logo">
        <img id="image" src="./assets/fulllogo.png">
    </div>
    <div id="info">
        <div id="infoheader">
            Keep up with:
        </div>
        <div id="points">
            <div class="point">
                - Philanthropy
            </div>
            <div class="point">
                - Rush
            </div>
            <div class="point">
                - Other Events
            </div>
        </div>
        <div id="infoheadersecondary">
            Make your presence known:
        </div>
        <div class="point">
            - Attendance Submission
        </div>
    </div>
</div>