<mat-card>
  <mat-card-title>
    About <span id='greek'>PANTHROPIA</span>
  </mat-card-title>
  <mat-card-header class="subheading">Overview</mat-card-header>
  <mat-card-content>
    Panthropia is a tool geared to help collegiate organizations, students, and communities. Organizations post
    events with the goal of making information more publicly available in order to drive attendance. For example,
    a percentage night for a philanthropy can be seen by everyone and result in more attendees and more money raised.
    Users can submit attendance in the form of a photo that can then be viewed by their own organization as well
    as the organization that hosted the event.
  </mat-card-content>
  <mat-card-header class="subheading">For Users</mat-card-header>
  <mat-card-header class="subsubheading">Set Up Account</mat-card-header>
  <mat-card-content>
    To set up an account, click Login then Register in the upper right hand corner or Register User in the side menu.
  </mat-card-content>
  <mat-card-content>Fill out the fields and hit Register. Note: If you don't see your organization, that means your
    organization has not set up an account yet.</mat-card-content>
  <mat-card-content>Log in with your credentials and select your campus.</mat-card-content>
  <mat-card-header class="subsubheading">Attendance Submission</mat-card-header>
  <mat-card-content>Try submitting an attendance record by clicking "See More" on an event. Choose a photo and press
    "Ok".</mat-card-content>
  <mat-card-content>Now, navigate to your account page by clicking on your username or initials located at the top
    right. </mat-card-content>
  <mat-card-content>You should now see an attendance record for that event. You can delete the record if
    necessary.</mat-card-content>
  <mat-card-content>Both your organization as well as the organization hosting the event can approve or reject your
    attendance.</mat-card-content>
  <mat-card-content>If you run into any problems with functionality, don't hesitate to report an issue in the
    footer!</mat-card-content>
  <mat-card-header class="subheading">For Organizations</mat-card-header>
  <mat-card-header class="subsubheading">Set Up Account</mat-card-header>
  <mat-card-content>To set up an account, request an Authorization Key on the Register Organization page. This page can
    be found in the side menu, located on the top left of the page.</mat-card-content>
  <mat-card-content>Once emailed an Authorization Key, create your organization account and log in.</mat-card-content>
  <mat-card-header class="subsubheading">Add Organization to Campus</mat-card-header>
  <mat-card-content>In order to have your organization displayed in the organizations tab, you must edit your profile
    under the "Profile" tab.</mat-card-content>
  <mat-card-header class="subsubheading">Create Event</mat-card-header>
  <mat-card-content>To create an event, click the "Create Event" tab and enter the information for your event.
  </mat-card-content>
  <mat-card-header class="subsubheading">Archive Event</mat-card-header>
  <mat-card-content>To Archive an event, click the three dot menu on one of your events. Select Archive. This event will
    now only show up to you in your profile tab. Nobody other than you will have access to that event while it
    is archived. It is recommended to archive events once they have passed, to keep the organization's profile up to
    date, or after no more attendance can be submitted.</mat-card-content>
  <mat-card-header class="subsubheading">Edit Event</mat-card-header>
  <mat-card-content>To edit an event, click the menu on one of your events and select edit. Edit the fields and submit.
    The event will now be updated on all timelines.</mat-card-content>
  <mat-card-header class="subsubheading">Private Events</mat-card-header>
  <mat-card-content>To create a private event, simply edit an existing event and check the box for a private event.
    Select the organizations from the dropdown menu you want to see the event.
    Your organization will always be able to see a private event.</mat-card-content>
  <mat-card-header class="subsubheading">Event Types</mat-card-header>
  <mat-card-content>There are three event types: Philanthropy, Rush, and Other. Choose the one that best matches your
    event.</mat-card-content>
  <mat-card-header class="subsubheading">Deleting Events</mat-card-header>
  <mat-card-content>To delete an event, click the menu icon on the event you created. Click delete. Keep in mind, this
    cannot be undone and you will lose access to the attendance records for the event.</mat-card-content>
  <mat-card-header class="subsubheading">Attendance Data</mat-card-header>
  <mat-card-content>The "Attendance Data" tab has two modes: My Events and My Organization. My Events shows the
    attendance records of everyone who showed up to the event and submitted attendance.
    My Organization shows all of the events members of your organization have shown up to. In the "Show More" area of
    the attendance records there are two grids of data.
    The first grid is the grid of people who attended, and the second grid shows individuals from your organization who
    didn't attend the event. In both modes, attendance records may be accepted or rejected.
    Proof of attendance is also provided with each record by clicking the "view proof" button. To get past events on the
    Attendance Data page, select a date prior to the event's date. </mat-card-content>

  <mat-card-content>If you encounter any issues, please report it in the footer!</mat-card-content>
</mat-card>