<mat-card>
  <mat-card-header id="header">
    <h1><span id='eventname' (click)='navToEvent()'>{{eventd.eventName}}</span> - <span id="org"
        (click)='navToOrg()'>{{eventd.hostref.organization}}</span></h1>
  </mat-card-header>
  <mat-card-content id="date">{{eventd.date | date}}</mat-card-content>

  <mat-card-content *ngIf="attendanced">
    <div class="subheading">Attended By: </div>
    <div>{{attendanced.length}}</div>
  </mat-card-content>


  <mat-card-content>
    <div class="info">
      <button id="info" (click)="toggleInfo()">{{toggleText()}}</button>
      <br>
      <div id="extension" *ngIf="renderinfo">

        <app-eventattendancegrid [attendanced]="attendanced" [host]="eventd.hostref"
          [event]="eventd"></app-eventattendancegrid>

      </div>
    </div>
  </mat-card-content>
</mat-card>