<div id="outercontainer">
  <form [formGroup]="registerForm">
    <mat-card id="card">
      <mat-card-title>Edit Account</mat-card-title>
      <div class="form-group">
        <mat-form-field>
          <input matInput placeholder="Organization Name" type="text" formControlName="organization"
            class="form-control" [ngClass]="{ 'is-invalid': submitted && f.organization.errors }">
          <mat-hint *ngIf="submitted && f.organization.errors">
            <mat-hint *ngIf="f.organization.errors.required">Organization name is required</mat-hint>

          </mat-hint>
        </mat-form-field>
      </div>



      <div class="form-group">
        <mat-form-field>
          <input matInput placeholder="Email" type="text" formControlName="email" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
          <mat-hint *ngIf="submitted && f.email.errors">
            <mat-hint *ngIf="f.email.errors.required">Email is required</mat-hint>
            <mat-hint *ngIf="f.email.errors.pattern">Email is typed with errors.</mat-hint>
          </mat-hint>
        </mat-form-field>
      </div>

      <p>
        <mat-checkbox [formControl]="enableKey">Require Password to Join</mat-checkbox>
      </p>


      <div class="form-group">
        <mat-form-field>
          <input *ngIf="!enableKey.value" matInput placeholder="Password" type="text" formControlName="key"
            class="form-control" [ngClass]="{ 'is-invalid': submitted && f.passcode.errors }"
            [disabled]="enableKey.value" readonly>
          <input *ngIf="enableKey.value" matInput placeholder="Password" type="text" formControlName="key"
            class="form-control" [ngClass]="{ 'is-invalid': submitted && f.passcode.errors }">
          <mat-hint *ngIf="submitted && f.passcode.errors">
            <mat-hint *ngIf="f.passcode.errors.required">Passcode is required</mat-hint>
          </mat-hint>
        </mat-form-field>
      </div>

      <mat-card-actions>

        <button mat-button [disabled]="loading" (click)="onSubmit('submit')">Submit</button>
        <!--      <img class="pl-3" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />-->
        <button mat-button>Cancel</button>
        <mat-spinner *ngIf="loading" [diameter]="30" (click)="onSubmit('cancel')"></mat-spinner>

      </mat-card-actions>

    </mat-card>
  </form>
</div>