mat-card {
  margin: 10px;
  box-shadow: var(--shadow) !important;
}

.info {
  grid-area: info;
  margin-left: 4px;
  margin-top: -10px;
}

#info {
  background: transparent;
  border: 0px solid transparent;
  color: grey;
  margin-top: 3px;

}

#info:hover {
  cursor: pointer;
  text-decoration: underline;
}

#individual {
  display: grid;
  grid-template-columns: 100px auto 200px;
  grid-template-areas: 'name organization proof';
}

#name {
  grid-area: name;
}

#organization {
  text-align: center;
  grid-area: organization;
}

#proof {
  grid-area: proof;
}

.flyer {
  grid-area: flyer;
}

.time {
  font-weight: bolder;
  font-size: 25px;
  grid-area: time;
}

#thumbnail {
  width: 100px;
  height: 100px;
}

a {
  color: blue;
}

h1 {
  font-weight: bold !important;
}

#overlay {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}

#full {
  display: block;
  margin: auto;
  margin-top: 100px !important;
  max-height: 80vh;
  max-width: 80vw;
}

#closeButton {

  margin-top: 8px;
}

#close {
  display: block;
  margin: auto;
  background: white;
}

mat-card-content {
  margin-bottom: 8px;
}

#header {
  border-bottom: 1px solid grey;
  margin-bottom: 16px;
}

.subheading {
  margin-top: 16px !important;
  font-size: 14px;
  font-weight: bold;

  border-bottom: 1px solid grey;
  width: 200px;
  margin-bottom: 8px;

}

#org {
  color: grey;
  font-style: italic;
}

#date {
  font-size: 16px;
}