mat-card {
  margin: 30px;

}

#eventname:hover {
  text-decoration: underline;
}

.italic {
  font-style: italic;
}

#org:hover {
  text-decoration: underline;
  cursor: pointer;
}

#org {
  font-style: italic;
  color: grey;
}

.subheading {
  margin-top: 16px !important;
  font-size: 14px;
  font-weight: bold;

  border-bottom: 1px solid grey;
  width: 200px;
  margin-bottom: 8px;

}

#leftright {
  display: flex
}

#leftlower {
  display: flex;
  justify-content: center;
}

#left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#right {
  flex: 1;
}

#upperdiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#attendancebutton {
  width: 95%;
  background-color: var(--primarycolor);
  color: var(--secondarycolor);
  margin-bottom: 5px;


}

#attendancebuttondeactivate {
  width: 95%;
  background-color: white;
  color: var(--secondarycolor);
  margin-bottom: 5px;
}

#eventimage {

  padding: 8px;
  padding-bottom: 0px;

}

#eventimage:hover {
  cursor: pointer;
  opacity: .8;
}

a {
  color: blue;
}

#overlay {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}


#full {
  display: block;
  margin: auto;
  margin-top: 100px !important;
  min-width: 250px;
  max-height: 70vh !important;
  max-width: 70vw !important;

}


#closeButton {
  margin-top: 8px;

}

#close {
  display: block;
  margin: auto;
  background: white;
}


@media only screen and (max-width: 600px) {
  #leftright {
    flex-direction: column;
  }
}