#outercard {
    margin: 30px;

}

mat-card-title {
    font-weight: 500;
    font-size: 24px;
}

#month {
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav {
    display: flex;
    justify-content: center;
}